/*---CSS styles---*/
/*---note that styles outside of media queries are for mobile---*/
.borderred {
    border: solid red;
}

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    /* colors */
    --light-color:#FAF9F6;
    --dark-color:#161616;
    --accent-color: #855453;
    --transparent-color: #00000000;
    --badge-new: #2a5304;
    --badge-in-progress: #735806;
    --badge-sample: #5c1e21;

    /* default fonts */
    --header-font: "Gloock", serif;
    --body-font: "Lato", serif;

    /* font sizes */
    --badge-size: clamp(0.75rem, 1vw, 1.5vw);
    --body-size: clamp(1.0rem, 1.5vw, 5rem); /* 1 * golden ratio*/
    --title: clamp(4.0rem, 7vw, 8rem); /* 4 * golden ratio */ 
    --secondary: clamp(3.0rem, 5vw, 5rem);
    --project: clamp(1.5rem, 2vw, 4rem);
}

.header-font {
    font-size: var(--title);
    font-family: var(--header-font);
    font-weight: 500;
    color: var(--light-color);
    transition: color 0.25s ease-in-out;
}

.secondary-font {
    font-size: var(--secondary);
    font-family: var(--header-font);
    font-weight: 400;
    color: var(--light-color);
}

.header-font:hover {
    color: var(--accent-color);
}

.body-font-extra-light {
    color: var(--light-color);
    font-family: var(--body-font);
    font-weight: 100;
}

.body-font-light {
    color: var(--light-color);
    font-family: var(--body-font);
    font-weight: 300;
    font-size: var(--body-size);
    line-height: 1.5;
}

.project-title {
    color: var(--light-color);
    font-family: var(--header-font);
    font-weight: 300;
    font-size: var(--project);
    line-height: 1.5;
}

.badge-font {
    color: var(--light-color);
    font-family: var(--header-font);
    font-size: var(--badge-size);
    line-height: 1;
}

.spacer {
    display: block;
    height: 2rem;
}

body {
    cursor: none;
    box-sizing: border-box;
    min-height: 100vh;
    min-width: 100vw;
    height: max-content;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 3% 5%;
    position: relative;
    /*these lines make percentage based sizing work*/
    background-color: var(--dark-color);
}

a {
    padding: 0;
    margin: 0;
}

a:hover {
    cursor: none;
}

p {
    padding: 0;
    margin: 1.5rem 0;
}

.blur {
    filter: blur(4px);
    transition: filter 0.75s ease-in-out;
}

/*--- Animations for barba.js---*/

[data-barba="container"] {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* While the current container is leaving */
.barba-leave-active {
  opacity: 0;
}

/* The new container starts invisible */
.barba-enter-active {
  opacity: 0;
}

/* When the new container finishes entering */
.barba-enter-to {
  opacity: 1;
}

/*---slide up and fade animation---*/
@keyframes slideUpAndFade{
    from {
        transform: translateY(25px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* grain oscillation--*/
@keyframes grainOscillate {
    0% { background-position: 0 0; }
    50% { background-position: -150px -150px;}
    100% { background-position: 150px 150px; }
}

#grain {
    pointer-events: none;
    position: fixed;
    inset: 0;
    z-index: 9999;
    background-image: url('../../public/grain.png');
    background-repeat: repeat;
    opacity: 0.3;
    animation: grainOscillate 1.5s steps(10) infinite;
}

#custom-cursor {
    position: fixed;
    top: 10%;
    left: 15% ;
    width: 20px; /* or whatever size you want */
    height: 20px;
    background-image: url('../../public/custom-cursor.png');
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 10000;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease-out, width 0.2s ease-out, height 0.2s ease-out;
}

#custom-cursor.enlarged {
    width: 23px;
    height: 23px;
    transform: translate(-50%, -50%) scale(1.25);
}

/*------ Blur flower image on non-home pages ------*/

[data-blur="true"] + #flower-image {
    --page-blur: 16px;
}

[data-blur="false"] + #flower-image {
    --page-blur: 0px;
}

/*------ Blur flower image on non-home pages ------*/



/*------------------------------styles for index.html------------------------------*/

header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

header:has(a img:hover) ~ img {
    filter: blur(6px) !important;
}

#logo-link-wrapper {
    width: 20%;
}

#logo {
    width: 100%;
    animation: slideUpAndFade 1.0s forwards;
}

/*use this class if you want the oscilatting green icon*/
#availability-indicator {
    border-radius: 50%;
    background-color: var(--available-color);
    height: 12px;
    width: 12px;
    animation: colorCycle 1.25s infinite;
}

#live-clock {
    animation: slideUpAndFade 1s forwards;
}

nav {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1% 0;
}

.home-main:has(li:hover) + #flower-image {
    --hover-blur: 6px !important;
}

#flower-image {

    --page-blur: 0px;
    --hover-blur: 0px;
    filter: blur(var(--page-blur)) blur(var(--hover-blur));

    aspect-ratio: 16/9;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1 ;
    width: 66%;
    animation: slideUpAndFade 1.75s forwards;
    transition: filter 0.15s ease-in-out;
}

ul {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    list-style-type: none;
    transform: translateY(15px);
    animation: slideUpAndFade 1.5s forwards;
}

li a {
    text-decoration: none;  
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10%; 
}

footer p {
    animation: slideUpAndFade 1s forwards;
}

/*----end index.html styles ------*/



/*------ aboutme.html ------*/

.aboutMe__main {
    min-height: 100%;
    height: max-content;
    display: flex;
    align-items: flex-start;
    margin: 3rem 0;
}

.aboutme__text-container {
    padding: 1rem 0;
    width: 50%;
    animation: slideUpAndFade 1s forwards;
}

.aboutme__img-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    animation: slideUpAndFade 1.5s forwards;
}

#aboutme-img {
    margin-top: 1rem;
    aspect-ratio: 3/4;
    width: 75%;
    border: solid 10px var(--transparent-color);
    filter: brightness(0.8);
    transition: border 0.5s ease-in-out,
                filter 0.5s ease-in-out;
}

#aboutme-img:hover {
    border: solid 10px var(--accent-color);
    filter: brightness(1);
}

/*------ END aboutme.html ------*/

/*------ mywork.html------*/

.mywork__main {
    height: 50vh;
    min-height: max-content;
    display: flex;
    align-items: flex-start;
    margin: 3rem 0;
}

.mywork__text-container {
    /*border: solid red;*/
    height: 100%;
    padding: 1rem 3rem 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    animation: slideUpAndFade 1s forwards;
}

.mywork__carousel {
    width: 60%;
    padding: 1rem 0 1rem 0rem;
    box-sizing: border-box;
    overflow-x: scroll;
    display: flex;
    gap: 3rem;
}

.mywork__carousel::-webkit-scrollbar {
    height: 8px;
    background-color: #b9b9b8;
}

.mywork__carousel::-webkit-scrollbar-thumb {
    height: 8px;
    border-radius: 5px;
    background-color: #484848;
}

.mywork__project-card {
    position: relative;
    display: inline-block;
    width: 100%;
    animation: slideUpAndFade 0.75s forwards;
}

.project-card__title {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.badge-new, .badge-in-progress, .badge-sample {
    padding: 0.25rem 1.5rem;
    
    border-radius: 25px;
    margin: 0 1rem;
}

.badge-new { background-color: var(--badge-new); }
.badge-in-progress { background-color: var(--badge-in-progress); }

.project-img {
    aspect-ratio: 16/9;
    width: 50vw;
    object-fit: cover;
    object-position: left center;
    filter: brightness(1);
    transition: filter 0.25s ease-in-out;
    z-index: 0;
}

.project-img:hover {
    filter: brightness(0.1);
}

.overlay-text {
    pointer-events: none;
    opacity: 0;
    top: 40%;
    left: 10%;
    width: 80%;
    position: absolute;
    z-index: 2;
    transition: opacity 0.25s ease-in-out;
}

.project-link:has(.project-img:hover) + .overlay-text {
    opacity: 1;
}


/*------ END mywork.html------*/







/*------------------------------styles for index.html------------------------------*/

@media (max-width: 600px) {

    :root {
        --title: clamp(3.0rem, 6vw, 6rem);
    }
    body {
        padding: 10%;
        overflow: scroll;
        height: max-content;
    }

    /* Undo hover effect for mobile */
    nav:has(li:hover) + img {
        -hover--blur: 0px;
    }

    header:has(a img:hover) ~ img {
        -hover--blur: 0px;
    }

    #custom-cursor {
        display: none;
    }
 
    header {
        flex-direction: column;
        gap: 4rem;
        align-items: flex-start;
    }

    #logo-link-wrapper {
        width: 100%;
    }

    nav {
        justify-content: flex-start;
        margin: 4rem 0;
    }

    ul {
        justify-content: center;
        align-items: flex-start;
        gap: 1.5rem;
    }

    #flower-image {
        width: 100%;
    }

    .image-blur {
        filter: blur(4px) !important;
    }

    footer {
        justify-content: flex-start;
    }

    /* ------ about us mobile styles------*/

    .aboutMe-main {
        flex-direction: column;
    }

    .text-container {
        width: 100%;
    }

    .img-container {
        width: 100%;
        justify-content: center;
    }

    #aboutme-img {
        width: 90%;
    }

    /*------ end aboutus ------*/

    /*------ mywork.html------*/

    .mywork__main {
        height: max-content;
        flex-direction: column;
    }

    .mywork__text-container {
        width: 100%;
        height: max-content;
    }

    .mywork__carousel {
        width: 100%;
        flex-direction: column;
    }

    .project-img {
        width: 100%;
    }

    .mywork__carousel::-webkit-scrollbar {
        display: none;
    }

    .mywork__carousel::-webkit-scrollbar-thumb {
        display: none;
    }

}